.App {
  text-align: center;
  background-color: #bfbcb2;
  width: 300px;
  border-radius: 25px;
  padding: 10px;
  margin: 100px auto;
  border: 1px solid black;
}

button
{
  background-color: #64d181;
  width: 40px;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
  color: white;
}

#clear
{
  width: 70px;
  background-color: #96c9e3;
}

#input_one, #input_two
{
  width: 250px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}